body {
	/* The image used */
	background-image: url("../../img/background-images/connect-horizon_bg.jpg");
	
	/* Full height */
	height: 100%;
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#pricing .plan {
	position: relative;
	display: block;
	background: white;
	color: #333F52;
	padding: 25px;
	padding-bottom: 60px;
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0;
	overflow: hidden;
	cursor: default;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	-moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

#pricing .plan.plan-1 {
  background-image: linear-gradient(to top, #009245 0%, #FCEE21 100%);
}
#pricing .plan.plan-2 {
  background-image: linear-gradient(120deg, #1BFFFF 0%, #2E3192 100%);
}
#pricing .plan.plan-3 {
  background-image: linear-gradient(344deg, #1f0078 0%, #ed1e79 100%);
}
#pricing .plan.plan-4 {
  background-image: linear-gradient(120deg, #fbb03b 0%, #d4145a 100%);
}


#pricing .plan .plan-name {
	font-weight: 600;
	color: rgba(0, 0, 0, 0.65);
	letter-spacing: 0.05em;
}

#pricing .plan .plan-price {
	height: 140px;
	position: relative;
	text-align: right;
}
#pricing .plan .plan-price h1 {
	position: absolute;
	bottom: -60px;
	width: 100%;
	font-size: 280px;
	margin: 0;
	line-height: 1;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: none;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#pricing .plan .plan-price h1 small {
	position: absolute;
    bottom: 22%;
    left: -18px;
    display: block;
    font-size: 50px;
    text-shadow: none;
    -webkit-text-stroke: 1px #818182;
}
#pricing .plan .plan-action {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #EC3742;
}
#pricing .plan .plan-action a {
	display: block;
	color: #ff000f;
	height: 60px;
	line-height: 60px;
	background: white;
	text-decoration: none;
	-webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	-moz-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#pricing .plan:hover {
	-moz-transform: translate(0, -6px);
	-o-transform: translate(0, -6px);
	-ms-transform: translate(0, -6px);
	-webkit-transform: translate(0, -6px);
	transform: translate(0, -6px);
	-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	-moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#pricing .plan:hover .plan-price h1 {
	text-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#pricing .plan:hover .plan-action a {
	color: #099100;
	font-weight: bold;
	-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	-moz-box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}


.back-to-previous-page-btn {
	font-family: Arial;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
	border-radius: 8px;
	border: 2px #1755a6 solid;
	background: linear-gradient(180deg, #63B8EE 5%, #0059ad 100%);
	text-shadow: 1px 1px 1px #528ecc;
	box-shadow: inset 1px 1px 2px 0px #bbdaf7;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.back-to-previous-page-btn:hover {
	background: linear-gradient(180deg, #0059ad 5%, #63B8EE 100%);
	color: #FFFFFF;
	text-decoration: none;
}
.back-to-previous-page-btn-icon {
	padding: 4px 8px;
	border-right: 1px solid rgba(255, 255, 255, 0.16);
	box-shadow: rgba(0, 0, 0, 0.14) -1px 0px 0px inset;
	color: #FFFFFF;
	text-decoration: none;
}
.back-to-previous-page-btn-text {
	color: #FFFFFF;
	text-decoration: none;
	padding: 2px 4px;
}
.back-to-previous-page-btn:active {
	-webkit-animation-name: slideOutLeft;
	animation-name: slideOutLeft;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}
@keyframes slideOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		visibility: hidden;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
} 